*.user
bin/Release/WordLists/Spanish2.txt
bin/Release/WordLists/Spanish1.txt
bin/Release/WordLists/Japanese.txt
bin/Release/DicewareLib.dll
bin/Release/DiceWareGUI.exe
bin/Debug/WordLists/Spanish2.txt
bin/Debug/WordLists/Polish.txt
bin/Debug/WordLists/Dutch.txt
bin/Debug/DicewareLib.pdb
bin/Debug/DicewareLib.dll
bin/Debug/DiceWareGUI.vshost.exe
bin/Debug/DiceWareGUI.vshost.exe.manifest
bin/Debug/DiceWareGUI.exe
bin/Debug/DicePassGen.pdb
bin/Debug/DiceWareGUI.pdb
bin/Debug/WordLists/Japanese.txt
DicewareLib/obj/Release/DicewareLib.csproj.FileListAbsolute.txt
DicewareLib/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
DicewareLib/obj/Debug/DicewareLib.dll
DicewareLib/obj/Release/DicewareLib.dll
DicewareLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DiceWarePasswordGenerator.zip
DiceWareGUI/obj/x86/Release/ResolveAssemblyReference.cache
DiceWarePasswordGenerator.suo
DiceWareGUI/obj/x86/Release/GenerateResource.read.1.tlog
DiceWareGUI/obj/x86/Release/GenerateResource.write.1.tlog
DicewareLib/obj/Debug/DicewareLib.csproj.FileListAbsolute.txt
DiceWareGUI/obj/x86/Release/DiceWarePasswordGenerator.Main.resources
DiceWareGUI/obj/x86/Release/DiceWareGUI.csproj.FileListAbsolute.txt
DiceWareGUI/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
DiceWareGUI/obj/x86/Release/DiceWarePasswordGenerator.Properties.Resources.resources
DicewareLib/obj/Debug/DicewareLib.pdb
bin/Debug/DicePassGen.exe
bin/Debug/WordLists/English.txt
bin/Debug/WordLists/Spanish1.txt
bin/Release/DicePassGen.exe
bin/Release/WordLists/Dutch.txt
bin/Release/WordLists/English.txt
bin/Release/WordLists/Polish.txt
DiceWareGUI/obj/x86/Debug/DiceWarePasswordGeneratorGUI.csproj.FileListAbsolute.txt
DiceWareGUI/obj/x86/Debug/DiceWarePasswordGenerator.Main.resources
DiceWareGUI/obj/x86/Debug/DiceWareGUI.pdb
DiceWareGUI/obj/x86/Debug/DiceWareGUI.csproj.FileListAbsolute.txt
DiceWareGUI/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DiceWareConsole/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
DiceWareConsole/obj/x86/Release/GenerateResource.read.1.tlog
DiceWareConsole/obj/x86/Release/DiceWarePasswordGenerator.Properties.Resources.resources
DiceWareConsole/obj/x86/Release/GenerateResource.write.1.tlog
DiceWareConsole/obj/x86/Release/DiceWareConsole.csproj.FileListAbsolute.txt
DiceWareConsole/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
DiceWareConsole/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
DiceWareConsole/obj/x86/Debug/GenerateResource.write.1.tlog
DiceWareConsole/obj/x86/Debug/GenerateResource.read.1.tlog
DiceWareConsole/obj/x86/Debug/DiceWarePasswordGenerator.csproj.FileListAbsolute.txt
DiceWareConsole/obj/x86/Debug/DiceWarePasswordGenerator.Properties.Resources.resources
DiceWareConsole/obj/x86/Debug/DiceWareConsole.csproj.FileListAbsolute.txt
DiceWareConsole/obj/x86/Debug/DicePassGen.pdb
DiceWareConsole/obj/x86/Debug/DicePassGen.exe
DiceWareConsole/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DiceWareConsole/obj/x86/Release/DicePassGen.exe
DiceWareGUI/obj/x86/Debug/DiceWareGUI.exe
DiceWareConsole/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
DiceWareGUI/obj/x86/Debug/DiceWarePasswordGenerator.Properties.Resources.resources
DiceWareGUI/obj/x86/Debug/DiceWarePasswordGeneratorGUI.Properties.Resources.resources
DiceWareGUI/obj/x86/Debug/DiceWarePasswordGeneratorGUI.exe
DiceWareGUI/obj/x86/Debug/GenerateResource.read.1.tlog
DiceWareGUI/obj/x86/Debug/DiceWarePasswordGeneratorGUI.pdb
DiceWareGUI/obj/x86/Debug/GenerateResource.write.1.tlog
DiceWareGUI/obj/x86/Debug/ResolveAssemblyReference.cache